---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories/70776396/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '69'
    body:
      encoding: UTF-8
      string: |-
        [

        ]
  recorded_at: Thu, 08 May 2014 16:11:11 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories/70776466/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '69'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68526572,
            "story_id": 70776466,
            "text": "This is a comment on the comment story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:59:03Z",
            "updated_at": "2014-05-06T16:59:03Z"
          },
          {
            "kind": "comment",
            "id": 68529050,
            "story_id": 70776466,
            "text": "Commit by Jeff Taggart\nhttps://github.com/<GITHUB_USERNAME>/tracker-api-example/commit/9bb903237447a032c80ba87cd6437c6769dfcd8c\n\n[#70776466] Implement comments on projects",
            "person_id": 1308466,
            "created_at": "2014-05-06T17:22:06Z",
            "updated_at": "2014-05-06T17:22:06Z",
            "commit_identifier": "9bb903237447a032c80ba87cd6437c6769dfcd8c",
            "commit_type": "github"
          }
        ]
  recorded_at: Thu, 08 May 2014 16:11:11 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories/70776286/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '69'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68526534,
            "story_id": 70776286,
            "text": "This is a test comment on the first story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:57:29Z",
            "updated_at": "2014-05-06T16:57:29Z"
          },
          {
            "kind": "comment",
            "id": 68526550,
            "story_id": 70776286,
            "text": "This is a second test comment on the first story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:58:51Z",
            "updated_at": "2014-05-06T17:15:18Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 16:11:11 GMT
recorded_with: VCR 2.9.0
