---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/jetaggart/tracker-api-example/commits/9bb903237447a032c80ba87cd6437c6769dfcd8c/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1399418266'
      Etag:
      - '"d3dc1d80a4706e19bbd50e88866f263d"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/jetaggart/tracker-api-example/comments/6228757","html_url":"https://github.com/jetaggart/tracker-api-example/commit/9bb903237447a032c80ba87cd6437c6769dfcd8c#commitcomment-6228757","id":6228757,"user":{"login":"jetaggart","id":161737,"avatar_url":"https://avatars.githubusercontent.com/u/161737?","gravatar_id":"ba5a9e5d58ca27cc667aaf826ce91032","url":"https://api.github.com/users/jetaggart","html_url":"https://github.com/jetaggart","followers_url":"https://api.github.com/users/jetaggart/followers","following_url":"https://api.github.com/users/jetaggart/following{/other_user}","gists_url":"https://api.github.com/users/jetaggart/gists{/gist_id}","starred_url":"https://api.github.com/users/jetaggart/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jetaggart/subscriptions","organizations_url":"https://api.github.com/users/jetaggart/orgs","repos_url":"https://api.github.com/users/jetaggart/repos","events_url":"https://api.github.com/users/jetaggart/events{/privacy}","received_events_url":"https://api.github.com/users/jetaggart/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"9bb903237447a032c80ba87cd6437c6769dfcd8c","created_at":"2014-05-06T17:23:48Z","updated_at":"2014-05-06T17:23:48Z","body":"This
        is a comment on this commit"}]'
  recorded_at: Tue, 06 May 2014 22:41:58 GMT
[...]
