---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - f9120343531ad7f3be3604fbd209957e
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 302 Found
      Location:
      - https://www.pivotaltracker.com/signin
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://www.pivotaltracker.com/signin">redirected</a>.</body></html>
  recorded_at: Tue, 06 May 2014 16:02:36 GMT
- request:
    method: get
    uri: http://www.pivotaltracker.com/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - f9120343531ad7f3be3604fbd209957e
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 302 Found
      Location:
      - https://www.pivotaltracker.com/projects
    body:
      encoding: UTF-8
      string: <html><body>You are being <a href="https://www.pivotaltracker.com/projects">redirected</a>.</body></html>
  recorded_at: Tue, 06 May 2014 16:04:54 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - f9120343531ad7f3be3604fbd209957e
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '404'
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"code":"route_not_found","kind":"error","error":"The path you requested
        has no valid endpoint."}'
  recorded_at: Tue, 06 May 2014 16:05:15 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - f9120343531ad7f3be3604fbd209957e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "id": 908332,
            "kind": "project",
            "name": "gSchool.it",
            "version": 5200,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,4,8",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone",
              "olson_name": "America/Los_Angeles",
              "offset": "-07:00"
            },
            "velocity_averaged_over": 3,
            "number_of_done_iterations_to_show": 12,
            "has_google_domain": false,
            "enable_incoming_emails": true,
            "initial_velocity": 10,
            "public": false,
            "atom_enabled": false,
            "start_time": "2013-09-09T07:00:00Z",
            "created_at": "2013-09-09T16:38:27Z",
            "updated_at": "2013-12-19T04:03:04Z",
            "account_id": 598246,
            "current_iteration_number": 35,
            "enable_following": true
          },
          {
            "id": 1073652,
            "kind": "project",
            "name": "GitHub Explorer",
            "version": 1,
            "iteration_length": 1,
            "week_start_day": "Monday",
            "point_scale": "0,1,2,3",
            "point_scale_is_custom": false,
            "bugs_and_chores_are_estimatable": false,
            "enable_planned_mode": false,
            "enable_tasks": true,
            "time_zone": {
              "kind": "time_zone[...]
