---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '69'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70776286,
            "created_at": "2014-05-06T16:28:35Z",
            "updated_at": "2014-05-07T03:23:56Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "unstarted",
            "requested_by_id": 1308466,
            "project_id": 1073652,
            "url": "https://www.pivotaltracker.com/story/show/70776286",
            "owner_ids": [

            ],
            "labels": [

            ]
          },
          {
            "kind": "story",
            "id": 70776396,
            "created_at": "2014-05-06T16:31:21Z",
            "updated_at": "2014-05-07T16:28:46Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the project list\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_s[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories/70776286/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '69'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68526534,
            "story_id": 70776286,
            "text": "This is a test comment on the first story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:57:29Z",
            "updated_at": "2014-05-06T16:57:29Z"
          },
          {
            "kind": "comment",
            "id": 68526550,
            "story_id": 70776286,
            "text": "This is a second test comment on the first story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:58:51Z",
            "updated_at": "2014-05-06T17:15:18Z"
          }
        ]
  recorded_at: Thu, 08 May 2014 16:11:39 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories/70776466/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '69'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68526572,
            "story_id": 70776466,
            "text": "This is a comment on the comment story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:59:03Z",
            "updated_at": "2014-05-06T16:59:03Z"
          },
          {
            "kind": "comment",
            "id": 68529050,
            "story_id": 70776466,
            "text": "Commit by Jeff Taggart\nhttps://github.com/<GITHUB_USERNAME>/tracker-api-example/commit/9bb903237447a032c80ba87cd6437c6769dfcd8c\n\n[#70776466] Implement comments on projects",
            "person_id": 1308466,
            "created_at": "2014-05-06T17:22:06Z",
            "updated_at": "2014-05-06T17:22:06Z",
            "commit_identifier": "9bb903237447a032c80ba87cd6437c6769dfcd8c",
            "commit_type": "github"
          }
        ]
  recorded_at: Thu, 08 May 2014 16:11:40 GMT
[...]
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/<GITHUB_USERNAME>/tracker-api-example/commits/9bb903237447a032c80ba87cd6437c6769dfcd8c/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4961'
      X-Ratelimit-Reset:
      - '1399567969'
      Etag:
      - '"4d23a770e133bd0ccda0ce4e7bcb6fc5"'
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/<GITHUB_USERNAME>/tracker-api-example/comments/6228757","html_url":"https://github.com/<GITHUB_USERNAME>/tracker-api-example/commit/9bb903237447a032c80ba87cd6437c6769dfcd8c#commitcomment-6228757","id":6228757,"user":{"login":"<GITHUB_USERNAME>","id":161737,"avatar_url":"https://avatars.githubusercontent.com/u/161737?","gravatar_id":"ba5a9e5d58ca27cc667aaf826ce91032","url":"https://api.github.com/users/<GITHUB_USERNAME>","html_url":"https://github.com/<GITHUB_USERNAME>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME>/received_events","type":"User","site_admin":false},"position":null,"line":null,"path":null,"commit_id":"9bb903237447a032c80ba87cd6437c6769dfcd8c","created_at":"2014-05-06T17:23:48Z","updated_at":"2014-05-06T17:23:48Z","body":"This
        is a comment on this commit"}]'
  recorded_at: Thu, 08 May 2014 16:11:41 GMT
[...]
