---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - f9120343531ad7f3be3604fbd209957e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '17'
      X-Tracker-Pagination-Total:
      - '3'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '3'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70776286,
            "created_at": "2014-05-06T16:28:35Z",
            "updated_at": "2014-05-06T17:15:18Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Show all the projects for your api token (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "unstarted",
            "requested_by_id": 1308466,
            "project_id": 1073652,
            "url": "https://www.pivotaltracker.com/story/show/70776286",
            "owner_ids": [

            ],
            "labels": [

            ]
          },
          {
            "kind": "story",
            "id": 70776396,
            "created_at": "2014-05-06T16:31:21Z",
            "updated_at": "2014-05-06T16:40:25Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "When I go to the homepage\nAnd I click on a project\nI see a list of all of that projects stories",
            "current_state": "unstarted",
            "requested_by_id": 1308466,
            "project_id": 1073652,
            "url": "https://www.pivotaltracker.com/story/show/70776396",
            "owner_ids": [

            ],
            "labels": [

            ]
          },
          {
            "kind": "story",
            "id": 70776466,
            "created_at": "2014-05-06T16:32:09Z",
            "updated_at": "2014-05-06T16:59:03Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view comments for a project",
            "description": "Given I'm viewing a project\nI see all of the comments for that project across all stories\n",
            "current_state": "unstarted",
            "requested_by_id": 1308466,
            "project_id": 1073652,
            "url": "https://www.pivotaltracker.com/story/show/70776466",
            "owner_ids": [

            ],
            "labels": [

            ]
          }
        ]
  recorded_at: Tue, 06 May 2014 17:18:37 GMT
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories/70776286/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - f9120343531ad7f3be3604fbd209957e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '17'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68526534,
            "story_id": 70776286,
            "text": "This is a test comment on the first story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:57:29Z",
            "updated_at": "2014-05-06T16:57:29Z"
          },
          {
            "kind": "comment",
            "id": 68526550,
            "story_id": 70776286,
            "text": "This is a second test comment on the first story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:58:51Z",
            "updated_at": "2014-05-06T17:15:18Z"
          }
        ]
  recorded_at: Tue, 06 May 2014 17:18:37 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories/70776466/comments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - f9120343531ad7f3be3604fbd209957e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '17'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "comment",
            "id": 68526572,
            "story_id": 70776466,
            "text": "This is a comment on the comment story",
            "person_id": 1308466,
            "created_at": "2014-05-06T16:59:03Z",
            "updated_at": "2014-05-06T16:59:03Z"
          }
        ]
  recorded_at: Tue, 06 May 2014 17:18:37 GMT
recorded_with: VCR 2.9.0
