---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v5/projects/1073652/stories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - "<TRACKER_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Tracker-Project-Version:
      - '69'
      X-Tracker-Pagination-Total:
      - '7'
      X-Tracker-Pagination-Offset:
      - '0'
      X-Tracker-Pagination-Limit:
      - '100'
      X-Tracker-Pagination-Returned:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        [
          {
            "kind": "story",
            "id": 70776286,
            "created_at": "2014-05-06T16:28:35Z",
            "updated_at": "2014-05-07T03:23:56Z",
            "estimate": 2,
            "story_type": "feature",
            "name": "As a user, I can view all of my projects",
            "description": "Given I'm on the homepage\nWhen I click on \"View Projects\"\nI see a list of all projects\n\n---\nUse your own API token. Make sure you don't commit it (dotenv-rails). (https://www.pivotaltracker.com/help/api#Basics)",
            "current_state": "unstarted",
            "requested_by_id": 1308466,
            "project_id": 1073652,
            "url": "https://www.pivotaltracker.com/story/show/70776286",
            "owner_ids": [

            ],
            "labels": [

            ]
          },
          {
            "kind": "story",
            "id": 70776396,
            "created_at": "2014-05-06T16:31:21Z",
            "updated_at": "2014-05-07T16:28:46Z",
            "estimate": 1,
            "story_type": "feature",
            "name": "As a user, I can view all of the stories for a project",
            "description": "Given I'm go to the project list\nWhen I click on a project\nI see a list of all of that projects stories",
            "current_s[...]
